= email_section do
  %p
    Kia ora #{@user.name},

  %p
    This email contains important information about your NZIF registration.
    Please read it thoroughly!

- if @itinerary.workshops.any?
  = email_section do
    %h2
      Your workshops
    %p
      You’re
      %b registered
      for the following #{'workshop'.pluralize(@itinerary.workshops.size)}.

      - if @itinerary.preferences.any? && @itinerary.workshops.size > 1 && @itinerary.first_choices.first > 1
        You got your first choice #{@itinerary.first_choices.first} out of #{@itinerary.first_choices.sum} times.

    = render partial: 'workshop', collection: @itinerary.workshops, locals: { confirmed: true }

- if @itinerary.waitlists.any?
  = email_section do
    %h2
      Your waitlisted workshops
    %p
      You’re
      %b on the waitlist
      for the following #{'workshop'.pluralize(@itinerary.workshops.size)}.
      If a spot opens up for you, we’ll call and/or email you to let you know. Please respond promptly if you are unable to accept a waitlist spot, as then we can offer it to someone else!

    = render partial: 'workshop', collection: @itinerary.waitlists.map(&:session), locals: { confirmed: false }

- if @itinerary.workshops.empty? && @itinerary.waitlists.empty?
  %h2 You haven’t signed up for any workshops

  %p
    That’s totally okay! You can still take part in the Festival, and if you want to sign up later,
    you can do so online.

- unless @cart.paid?
  = email_section do
    %h2 Payment
    = render 'cart'

    %h3 Paying by credit card

    %p
      = link_to 'Jump online', front_end_url("returning/#{@registration.festival.year}/register/payment")
      to pay via our secure payment gateway with your credit card. It only takes a moment!

    %h3 Paying with internet banking

    %p
      If you prefer, 
      = link_to 'select ‘Internet banking’', front_end_url("returning/#{@registration.festival.year}/register/payment")
      in the payment options, and use your phone or internet banking to transfer the amount shown above to:

      %blockquote
        %b= @cart.internet_banking_details[:name]
        %br
        = @cart.internet_banking_details[:account]
        %br
        Reference: [your name]

= email_section do
  %h2 Anything else?

  %p
    The Festival team are standing by to answer any questions you might have about your registration. The best person to contact is Matt Powell
    = surround '(', '),' do
      = mail_to 'matt@improvfest.nz'
    our Registration Co-ordinator and all-round website goblin.

  %p
    - if @itinerary.days_to_go > 0
      There’s just #{@itinerary.days_to_go} #{'day'.pluralize(@itinerary.days_to_go)} until #{@festival}.
    We can’t wait to see you there!

= email_section do
  %p
    Ngā mihi nui,
    %br/
    The NZIF Team
