= email_section do
  %p
    Kia ora #{@user.name},

= email_section class_name: 'section--highlight' do
  %p
    Someone (hopefully you!) has requested to reset your password for access to the
    #{link_to 'NZIF registration site', root_url}.

  %p
    = link_to 'Reset your password', front_end_url("password/reset/#{@identity.reset_token}"), class: 'button'

= email_section do
  %p
    If this wasn’t you, you can safely ignore this email: your password will remain unchanged.

  %p
    Ngā mihi nui,
    %br/
    The NZIF Team
